{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }}  {% endblock %}

{% block contenu %}
<div style="text-align:center">
<h2> Vous avez choisi d'entrer le code d'un article pour obtenir les commandes qui correspondent à cet article</h2>
<br>
<br>
</div> <br>
<div style="text-align:center">
  <h2> Voici le(s) resultat(s) de votre recherche :  </h2>
</div>
<br>
<br><br><br>


<div class="panel panel-default">   
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Numéro de l'article</th>
      <th scope="col">Nom de l'article</th>
      <th scope="col">Numéro de la commande </th>
      <th scope="col">Date de la commande</th>
      <th scope="col">Numéro du client</th>
      <th scope="col">Numéro de la facture</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    {% for ta in listeRechercheArticle %}
      <tr>
        <td>{{ta.tacid}}</td>
        <td>{{ta.appareil}}</td>
        <td>{{ta.idCom}}</td>
        <td>{{ta.date}}</td>
        <td>{{ta.numClient}}</td>
        <td>{{ta.idFacture}}</td>
        <td><a type="button" class="btn btn-sm btn-primary" href="index.php?page=detailscommande&id={{ ta.tacid }}" value="Voir les details de la commande">Voir les details de la commande</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>



{% endblock %}