{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Modèle Chariot {% endblock %}

{% block contenu %}
  <div style="text-align:center" class="animate__animated animate__fadeInDown animate__delay-1s">
    <h2> Liste des batteries installées ainsi que les plans de coffres et de cyclages d'un modèle de chariot</h2>
    <br><br><br>
    <h1 class="h3 mb-3 font-weight-normal">Voici le(s) résultat(s) correspondant(s) au modèle de chariot : "{{form.rechercheChariot}}"</h1>
  </div> <br>
  {% if listeRechercheChariot == null %}
    <div style="text-align:center">
      <h2> Aucun résultat n'a été trouvé pour cette recherche  </h2> <br> <br>
      <a type="button" href="index.php?" class="btn btn-primary"> <FONT color="white"> Retourner à l'accueil </FONT></a>
    </div>
  {% else %}
    {# <div style="text-align:center">
    <h2> Voici le(s) resultat(s) de votre recherche :  </h2>
    </div>
    <br> #}
    <br>{#<br><br> #}
    <div style="text-align:center">
      <div class="panel panel-default animate__animated animate__fadeInLeft animate__delay-1s">   
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr class="table-danger">
                {# <th scope="col">id</th> #}
                <th scope="col">Modèle du chariot</th>
                <th scope="col">Désignation de l'article</th>
                <th scope="col">Numéro de l'article</th>
                <th scope="col">Plan de cyclage</th>
                <th scope="col">Plan de coffre 1 </th>
                <th scope="col">Plan de coffre 2 </th>
              </tr>
            </thead>
            <tbody>
              {% for od in listeRechercheChariot %}
                {# {% if d.recherchechariot != d.forkilft %}
                  <h1>Aucun résultat pour cette recherche</h1>
                {% else %} #}
                <tr>
                  {# <td>{{d.id}}</td> #}
                  <td>{{od.Forklift}}</td>
                  <td>{{od.desi}}</td>
                  <td>{{od.NbrArt}}</td>
                  <td>{{od.plancycl}}</td>
                  <td><u>Longueur</u> = {{od.l1}} <br><u>Largeur</u> = {{od.lar1}} <br><u>Hauteur</u> = {{od.h1}}</td>
                  <td><u>Longueur</u> = {{od.l2}} <br><u>Largeur</u> = {{od.lar2}} <br><u>Hauteur</u> = {{od.h2}}</td>
                </tr>
                {# {% endif %} #}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <a type="button" href="index.php?" class="btn btn-warning"> <FONT color="white"> Retourner à l'accueil </FONT></a>
  {% endif %}

{# {% endif %} #}
  <style>
    .loader {
      position : fixed;
      z-index: 9999;
      background : url('https://velorail.trainguitres.fr/image/patientez.gif') 50% 50% no-repeat;
      top : 0px;
      left : 0px;
      height : 100%;
      width : 100%;
      cursor : wait;
    }
  </style>

  <div style="text-align:center" class="loader" id="loader">
     <br>
    {# <h1>Chargement en cours veuillez patienter...</h1><br><br><br> #}
    {# <img src="https://velorail.trainguitres.fr/image/patientez.gif"></img> #}
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
    $(".loader").fadeOut("1000");})

    function recherche(){
      //alert("click");
      $(".loader").fadeIn();
    }
  </script>
  
{% endblock %}