{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }}  {% endblock %}

{% block contenu %}
<div style="text-align:center">
<h2> Vous avez choisi d'obtenir la liste des commandes puis les détails d'une commande à partir du nom d'un client </h2>
<br>
<br>
<h1 class="h3 mb-3 font-weight-normal">Vous avez recherché : "{{form.recherche}}"</h1>
<br><br>
{% if listeRecherche == null %}
<div style="text-align:center">
  <h2> Aucun résultat n'a été trouvé pour cette recherche  </h2> <br> <br>
  <a type="button" href="index.php?" class="btn btn-primary"> <FONT color="white"> Retourner à l'accueil </FONT></a>
  </div>
{% else %}
{# <br>
<br>
<h3> Entrez ici un code client : </h3>
<br>
<div style="padding-left:15%; padding-right:15%;">
<input type="text" class="form-control" id="codeclient" name="numClient" placeholder="Code client">
<button type="submit" name="btValider" class="btn btn-lg btn-primary btn-block">Rechercher</button>
<form class="form-inline my-2 my-lg-0" action="index.php?page=codeclient-detailscommande" method="post">
    <input class="form-control mr-sm-2" type="search" name="recherche" id="recherche" placeholder="Tapez votre recherche">
    <button onmouseover="this.style.opacity ='1'" onmouseout="this.style.opacity ='0.7'" style="border-width:1px; border-style:dotted; border-color:black;" class="btn btn-outline-primary my-2 my-sm-0" name="btRechercher" id="btRechercher" type="submit"> <FONT color="white"> Rechercher </FONT></button>
</form> 
</div>#}
</div> <br>
<div style="text-align:center">
<h2> Voici le(s) resultat(s) de votre recherche :  </h2>
</div>
<br>
<br><br><br>


<div class="panel panel-default">   
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Nom du client</th>
      <th scope="col">Code client</th>
      <th scope="col">Numéro de la commande</th>
      <th scope="col">Date de la commande</th>
      <th scope="col">Numéro de la facture</th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {# <tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr> #}
    {% for od in listeRecherche %}
    <tr {# class="table-primary" #} >
      <td>{{od.nomClient}}</td>
      <td>{{od.numClient}}</td>
      <td>{{od.numCommande}}</td>
      <td>{{od.dateCommande}}</td>
      <td>{{od.numFacture}}</td>
      {# <td type="hidden">{{od.id}}</td> #}
      <td><a type="button" class="btn btn-sm btn-primary" href="index.php?page=detailscommande&id={{ od.id }}" value="Voir les details de la commande">Voir les details de la commande</a></td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

<a type="button" href="index.php?" class="btn btn-primary"> <FONT color="white"> Retourner à l'accueil </FONT></a>
{% endif %}


{% endblock %}