{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Détails de la commande {% endblock %}

{% block contenu %}

  <div style="text-align:center">
    <div class="animate__animated animate__slideInUp">
      <h1> Détails de la commande </h1>
    </div>
  </div>
  <br><br>

    <div style="text-align:center">
      <div class="panel panel-default animate__animated animate__fadeInLeft animate__delay-1s">   
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr class="table-primary">
                <th scope="col">Numéro de ligne</th>
                <th scope="col">Numéro de la commande</th>
                <th scope="col">Numéro de l'article</th>
                <th scope="col">Désignation</th>
                <th scope="col">Modèle du chariot</th>
                <th scope="col">Manu</th>
                <th scope="col">Numéro de la facture</th>
                <th scope="col">Numéro de la livraison</th>
                <th scope="col">Plan de cyclage</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for od in liste %}
              <tr>
                <td>{{od.id}}</td>
                <td>{{od.idCommande}}</td>
                <td>{{od.NbrArt}}</td>
                <td>{{od.desi}}</td>
                <td>{{od.Forklift}}</td>
                <td>{{od.Manu}}</td>
                <td>{{od.idFacture}}</td>
                <td>{{od.idLivraison}}</td>
                <td>{{od.planCyclage}}</td>
                <td> 
                  <form class="form-inline my-2 my-lg-0" action="index.php?page=dimensions" method="post">
                      <input class="form-control" style="min-width:10%; max-width:85%;" type="search" name="rechercheDimension" id="rechercheDimension" placeholder="Plan de coffre" value="{{od.pcof}}" required/>
                      <button class="btn btn-primary" style="min-width:10%; max-width:85%;" name="btRechercherDimension" id="btRechercherDimension" type="submit"> <FONT color="white">Obtenir les dimensions</FONT></button>
                  </form>
                </td>
                <td> 
                  <div>
                    <a type="button" style="min-width:57%;" class="btn btn-primary" href="index.php?page=infos&id={{od.planCyclage}}" value="Voir les informations sur la batterie"><span>Voir les informations sur l'appareil</span></a><br>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
<div class="panel panel-default ">
</div>
<div class="animate__animated animate__slideInDown">
  <div style="text-align:center" ><br>
    <h4> Plus d'options : </h4>
  </div>
  <div style="padding-left:30%">

    <a type="button" style="min-width:57%; max-width: 57%;" class="ab btn btn-primary" href="http://visualise/VIS_VISualise/searchMap.do" target="_blank"><span>Voir les PDF sur les plans de coffres et de cyclages</span></a><br>
    <a type="button" style="min-width:57%; max-width: 57%;" class="ab btn btn-primary" href=javascript:history.go(-1)><span>Retour</span></a><br>
    <a type="button" style="min-width:57%; max-width: 57%;" href="index.php?" class="ab btn btn-primary"><span> <FONT color="white"> Retourner à l'accueil </FONT> </span></a>
    <br><br>  

  </div>
</div>


  <style>

    .ab{
      position: relative;
      transition: all .35s;
    }

    .ab span{
      position: relative;
      z-index: 2;
    }

    .ab:after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #400586;
      transition: all .35s;
    }

    .ab:hover{
      color: #fff;
    }

    .ab:hover:after{
      width: 100%;
    }
  </style> 

{% endblock %}