{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Numéro de série {% endblock %}

{% block contenu %}
<div style="text-align:center">
<h2>Liste des commandes et des factures d'un numéro de série</h2>
<br>
<br>

<h1 class="h3 mb-3 font-weight-normal">Voici le(s) resultat(s) correspondant(s) au numéro de série : "{{form.rechercheGarantie}}"</h1>
<br><br>
{% if listeRechercheGarantie == null %}
<div style="text-align:center">
  <h2> Aucun résultat n'a été trouvé pour cette recherche  </h2> <br> <br>
  <a type="button" href="index.php?" class="btn btn-primary"> <FONT color="white"> Retourner à l'accueil </FONT></a>
  </div>
{% else %}

</div> <br>{# 
<div style="text-align:center">
  <h2> Voici le(s) resultat(s) de votre recherche :  </h2>
</div>
<br>
<br><br><br> #}
<div style="text-align:center">
<div class="panel panel-default">   
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr class="table-success">
      <th scope="col">Numéro de série</th>
      <th scope="col">Numéro de la commande</th>
      <th scope="col">Date de la commande</th>
      <th scope="col">Numéro du client</th>
      <th scope="col">Numéro de la facture</th>
      <th scope="col">Date de la facture</th>
      <th scope="col">Nom du client</th>
      <th scope="col">Adresse 1</th>
      <th scope="col">Adresse 2</th>
      <th scope="col">Adresse 3</th>
      <th scope="col">Code postale</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    {% for s in listeRechercheGarantie %}
      <tr>
        <td>{{s.numSerie}}</td>
        <td>{{s.numCommande}}</td>
        <td>{{s.jour}} / 
          {% if s.mois == null %}
            0
          {% else %}
            {{s.mois}}
          {% endif %}
            / {{s.année}}
        </td>
        <td>{{s.numClient}}</td>
        <td>{{s.numFacture}}</td>
        <td>{{s.jourFact}} / 
          {% if s.moisFact == null %}
            0
          {% else %}
            {{s.moisFact}}
          {% endif %}
            / {{s.annéeFact}}
        </td>
        <td>{{s.nomClient}}</td>
        <td>{{s.adresse1}}</td>
        <td>{{s.adresse2}}</td>
        <td>{{s.adresse3}}</td>
        <td>{{s.zip}}</td>
        <td><a type="button" class="btn btn-sm btn-success" href="index.php?page=detailscommande&id={{ s.numCommande }}" value="Voir le details de la commande">Voir le details de la commande</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>

<a type="button" href="index.php?" class="btn btn-success"> <FONT color="white"> Retourner à l'accueil </FONT></a>
{% endif %}

{% endblock %}