{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }}  {% endblock %}

{% block contenu %}
<div style="text-align:center">
<h2> Vous avez choisi d'obtenir les informations sur les batteries à partir de l'année 2000 </h2>
<br>
<br>
</div> <br>
<div style="text-align:center">
<h2> Voici les informations sur les batteries à partir de l'année 2000 :  </h2>
</div>
<br>
<br><br><br>


<div class="panel panel-default">   
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
        <th scope="col">Date</th>
        <th scope="col">Numéro de l'appareil</th>
        <th scope="col">Nom de l'appareil</th>
        <th scope="col">Constructeur de l'appareil</th>
        <th scope="col">Famille de l'appareil</th>
    </tr>
  </thead>
  <tbody>

    {% for ta in liste2000 %}
    <tr>
        <td>{{ta.date}}</td>
        <td>{{ta.idTa}}</td>
        <td>{{ta.appareil}}</td>
        <td>{{ta.constructeur}}</td>
        <td>{{ta.famille}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>



{% endblock %}