{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Numéro d'article {% endblock %}

{% block contenu %}

  <div style="text-align:center" class="animate__animated animate__fadeInDown animate__delay-1s">
    <h2> Liste des commandes d'un numéro d'article </h2>
    <br><br>
    <h1 class="h3 mb-3 font-weight-normal">Voici le(s) résultat(s) correspondant(s) au numéro d'article : "{{form.rechercheNbrArt}}"</h1>
    <br><br>
    {% if listeRechercheNbrArt == null %}
      <div style="text-align:center">
        <h2> Aucun résultat n'a été trouvé pour cette recherche  </h2> <br> <br>
        <a type="button" href="index.php?" class="btn btn-primary"> <FONT color="white"> Retourner à l'accueil </FONT></a>
      </div>
    {% else %}
      <div style="text-align:center">
        <div class="panel panel-default animate__animated animate__fadeInLeft animate__delay-1s">   
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr class="table-warning">
                  <th scope="col">Numéro de l'article</th>
                  <th scope="col">Désignation de l'article</th>
                  <th scope="col">Code client</th>
                  <th scope="col">Numéro de la commande</th>
                  <th scope="col">Date de la commande</th>
                  <th scope="col">Numéro de la facture</th>
                  <th> </th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                {% for od in listeRechercheNbrArt %}
                <tr>
                  <td>{{od.NbrArt}}</td>
                  <td>{{od.Désignation}}</td>
                  <td>{{od.numClient}}</td>
                  <td>{{od.numCommande}}</td>
                  <td>{{od.jour}} / 
      
                  {% if od.mois == null %}
                    0
                  {% else %}
                    {{od.mois}}
                  {% endif %}
                  / {{od.année}}</td>
                  <td>{{od.numFacture}}</td>
                  <td><a type="button" class="btn btn-sm btn-warning" href="index.php?page=detailscommande&idFacture={{ od.numFacture }}" value="Voir les details de la commande">Voir les details de la commande</a></td>
                  
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <a type="button" href="index.php?" class="btn btn-primary"> <FONT color="white"> Retourner à l'accueil </FONT></a>

  {% endif %}
<style>
      .loader {
      position : fixed;
      z-index: 9999;
      background : url('https://velorail.trainguitres.fr/image/patientez.gif') 50% 50% no-repeat;
      top : 0px;
      left : 0px;
      height : 100%;
      width : 100%;
      cursor : wait;
      }
  </style>

  <div style="text-align:center" class="loader" id="loader">
    <br>
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
    $(".loader").fadeOut("1000");})

    function recherche(){
    //alert("click");
      $(".loader").fadeIn();
    }
  </script>

{% endblock %}