{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }}  {% endblock %}

{% block contenu %}
<div style="text-align:center">
<h2> Vous avez choisi d'entrer un numéro de série pour obtenir le plan de cyclage et de coffre</h2>
<br>
<br>
</div> <br>
<div style="text-align:center">
<h2> Voici le(s) resultat(s) de votre recherche :  </h2>
</div>
<br>
<br><br><br>


<div class="panel panel-default">   
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Numéro de série</th>
      <th scope="col">Plan de cyclage</th>
      <th scope="col">Plan de coffre 1 </th>
      <th scope="col">Plan de coffre 2 </th>
    </tr>
  </thead>
  <tbody>

    {% for s in listeRechercheSerie %}
    <tr>
      <td>{{s.id}}</td>
      <td>{{s.pCycl}}</td>
      <td><u>Longueur</u> = {{s.l1}} <br><u>Largeur</u> = {{s.lar1}} <br><u>Hauteur</u> = {{s.h1}}</td>
      <td><u>Longueur</u> = {{s.l2}} <br><u>Largeur</u> = {{s.lar2}} <br><u>Hauteur</u> = {{s.h2}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

<a type="button" href="index.php?" class="btn btn-primary"> <FONT color="white"> Retourner à l'accueil </FONT></a>


{% endblock %}